<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title> Agent Desktop</title>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/css/foundation.min.css" integrity="sha256-ogmFxjqiTMnZhxCqVmcqTvjfe1Y/ec4WaRj/aQPvn+I=" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js" integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/search.css">
</head>
<body>
    <% if (locals.errorMessage) { %>
    <div class="error-message"><%= errorMessage %></div>
    <% } %>
    <div class="container">
        <div class="side-menu">
            <ul class="vertical menu">
                <img class="logo" src="/img/logo.png">
                <li><a class="selected" href="#">Services</a></li>
                <li><a href="#">Chat</a></li>
                <li><a href="#">Timesheet</a></li>
                <li><a href="#">Notes</a></li>
            </ul>
        </div>

        <div class="search-container">
            <div class="header"><strong>Services</strong></div>
            <% if (locals.services) { %>
                <ul class="list no-bullet">
                    <% locals.services.forEach(function(service){ %>
                    <li class="list__item">
                        <a 
                            class="item"
                            href="/search/<%= locals.type %>?serviceSid=<%= service.sid %>"
                        >
                            <span class="item__title"><%= service.friendly_name %></span>
                            <span class="item__desc"><%= service.sid %></span>
                        </a>
                    </li>
                    <% }); %>
                </ul>
            <% } %>
        </div>
    </div>
</body>
</html>